---
import Layout from '../layouts/Layout.astro';

import { Chat } from '../components/Chat';

import "../styles/global.css";
---

<Layout>
	<div class="my-7 container mx-auto mx-width-960">
    <div class="flex flex-col items-center justify-center min-h-[20vh] pt-32 px-4">
      <div class="text-center mb-8">
        <h1 class="text-4xl font-bold mb-4 highlight italic relative">
          <span class="relative z-20">Forge</span>
          <span class="text-[rgb(168,122,22)] relative z-10 -ml-[21px] -mr-[25px]">&</span>
          <span class="text-[#4a9eff] relative z-0">Hive</span>
        </h1>
        <p class="text-lg text-gray-200 max-w-2xl highlight">
          Simple tool to help you build and deploy your code
        </p>
      </div>
      <div class="mt-8 space-y-4 max-w-2xl text-left">
        <h2 class="text-2xl font-bold mb-6 highlight">Getting Started</h2>
        <p class="text-gray-300">
          Install with:
        </p>
        <div class="bg-[#1E1E1E] rounded-md p-4 font-mono">
          <p class="text-gray-400">
            <span class="text-green-400">></span> <span class="text-[#4a9eff]">pnpm</span> i -g @forgehive/forge-cli
          </p>
        </div>
        <p class="text-gray-300">
          Init a project with:
        </p>
        <div class="bg-[#1E1E1E] rounded-md p-4 font-mono">
          <p class="text-gray-400">
            <span class="text-green-400">></span> <span class="text-[#4a9eff]">forge</span> init
          </p>
        </div>
        <p class="text-gray-300">
          Then create yout task folder with `mkdir -p /src/tasks` and your logs folder with `mkdir /logs`
        </p>
        <p class="text-gray-300">
          Add task and schema to your project
        </p>
        <div class="bg-[#1E1E1E] rounded-md p-4 font-mono">
          <p class="text-gray-400">
            <span class="text-green-400">></span> <span class="text-[#4a9eff]">pnpm</span> i @forgehive/task  @forgehive/schema 
          </p>
        </div>
        <p class="text-gray-300">
          Create your first task with
        </p>
        <div class="bg-[#1E1E1E] rounded-md p-4 font-mono">
          <p class="text-gray-400">
            <span class="text-green-400">></span> <span class="text-[#4a9eff]">forge</span> task:create sample
          </p>
        </div>        
        <p class="text-gray-300">
          Run your first task with
        </p>
        <div class="bg-[#1E1E1E] rounded-md p-4 font-mono">
          <p class="text-gray-400">
            <span class="text-green-400">></span> <span class="text-[#4a9eff]">forge</span> task:run sample
          </p>
        </div>
      </div>
    </div>
	</div>
</Layout>
